<?xml version="1.0" encoding="utf-8"?>
<Content Key="aec73ef7-191e-475c-b457-1475f0a06d17" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-30T13:29:34</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="921ec4a9-39b7-44fb-ad9a-34c0b874ab98">Home</Template>
  </Info>
  <Properties />
</Content>