<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65e3f5ad-8589-4ce2-9a44-5b5242a34106" Alias="Homepage Grid" Level="2">
  <Info>
    <Name>Homepage Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "b88c5991-e9f5-401e-b80a-4ede6604f1f2",
      "name": "Content"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "0e74aa7a-e0c8-4214-9a5a-b9aa2ea0f230",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b88c5991-e9f5-401e-b80a-4ede6604f1f2",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{ heading || $contentTypeName }}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": true,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>