@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-32 bg-white">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
        <h1 class="text-3xl font-bold tracking-tight text-purple-700 sm:text-4xl">Homepage</h1>
        <p class="mt-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis tellus quis ligula rutrum ornare. Duis ullamcorper elit in fermentum elementum. Suspendisse nisi neque, condimentum quis rutrum et, accumsan ullamcorper dui. Sed auctor metus magna, non tristique mauris dictum sit amet. Maecenas luctus posuere libero quis auctor. Morbi tempor tristique ante, vitae imperdiet lectus tincidunt eget. Maecenas varius risus at nisl convallis auctor. Morbi hendrerit mattis eros, eget semper urna porta vel. Cras molestie libero nec venenatis tristique. Nulla tristique mi metus, eget egestas nibh tempus id. Fusce elementum vel odio non imperdiet. Integer hendrerit suscipit erat, vitae dapibus eros condimentum sit amet. Mauris mollis tortor non nunc interdum pellentesque. Nulla massa dui, mollis in hendrerit in, egestas sed lorem. Suspendisse a porttitor nunc.
        </p>
        <p class="mt-8">
            Sed in nisl et enim blandit fermentum ut at sapien. Duis a vulputate nibh, sit amet tristique lacus. Maecenas non congue magna, eu scelerisque nisi. Phasellus aliquam eleifend leo, vitae maximus quam. Mauris consectetur viverra semper. Phasellus faucibus, dui eget malesuada congue, neque velit facilisis arcu, nec venenatis mauris mauris ac enim. Morbi facilisis iaculis enim in porta. Fusce in tortor sit amet tellus lobortis malesuada ut ut neque. Phasellus tincidunt sapien diam, in euismod velit venenatis non. Sed nec est ut sapien pulvinar feugiat. In sed fermentum sapien.
        </p>
    </div>
</div>