@inherits UmbracoViewPage<JaywingTechTest.Features.CatFacts.Models.CatFactViewModel>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-32 bg-white">
    <div class="mx-auto max-w-2xl text-base leading-7 text-gray-700 text-center">
        <h1 class="text-4xl font-bold tracking-tight text-purple-700 sm:text-6xl">@Model.Heading</h1>
        @if (Model.Success)
        {
            <p class="mt-6 text-lg leading-8 text-balance">@Model.Fact</p>
        }
        else
        {
            <div class="mt-6 rounded-md bg-red-50 p-4">
                <div class="flex flex-nowrap justify-center items-center">
                    <div class="shrink-0">
                        <svg class="size-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <p class="text-sm font-medium text-red-800 text-balance">@Model.ErrorMessage</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>